.board {
  position: relative;
  border: 1px solid black;
  box-sizing: content-box;
  background-image: url('../assets/the-gift.jpg');
  background-size: cover;
  width: 600px;
  height: 600px;
  margin: 0 auto;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
}