.game {
  margin: 30px auto;
  width: 600px;

  .won-message {
    background-color: rgba(0, 0, 128, 0.1);
    margin: 20px 0px;
    padding: 20px 0px;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
  }
}