.tile {
  position: absolute;
  background-image: url('../assets/the-gift.jpg');
  background-size: 600px 600px;
  background-repeat: no-repeat;
  border: 1px solid black;
  display: inline-block;
  transition-property: all;
  transition-timing-function: cubic-bezier(.17, .67, .83, .67);

  .label {
    position: absolute;
    top: 0px;
    right: 0px;
    color: white;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
  }
}